.book_show {
  width: fit-content;
  margin: 20px auto;
  display: flex;

  .section_1 {
    width: 150px;
    height: 100px;

    .main_cover {
      height: 227px;
      width: 150px;
    }
  }

  .section_2 {
    width: 455px;
    height: 100px;
  }

  .section_3 {
    width: 300px;
    height: 100px;
  }
}
