.book_show {
  width: fit-content;
  margin: 20px auto;
  display: flex;

  .section_1 {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main_cover {
      height: 227px;
      width: 150px;
      margin-bottom: 10px;
    }
    .shelf_button {
      background-color: #409d69;
      border-radius: 3px;
      color: white;
      display: flex;
      margin-bottom: 5px;
      .want_to_read {
        height: 28px;
        width: 100px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .dropdown_button {
        height: 28px;
        width: 28px;
        border-left: 1px solid #38883d;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .rate_text {
      color: #999999;
      font-size: 11px;
      margin-bottom: 2px;
    }
    .stars {
      display: flex;
      margin-bottom: 10px;
      font-size: 13px;
      color: #aaa;
    }
    .preview {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #181818;
      .text {
        font-size: 12px;
        margin-left: 5px;
      }
      .text:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .section_2 {
    margin: 0 15px;
    width: 455px;
    .title {
      color: #333333;
      font-size: 24px;
      line-height: 1.25;
      font-weight: bold;
      text-overflow: ellipsis;
    }
    .series {
      color: #999999;
      font-size: 1.5em;
      display: flex;
      .link {
        margin: 0 2px;
      }
    }
    .series:hover {
      cursor: pointer;
      .link {
        text-decoration: underline;
      }
    }
  }
  .section_3 {
    width: 300px;
  }
}
