.friend_tile {
  width: 625px;
  border-bottom: 1px solid #d7d7d7;
  padding: 5px;
  font-size: 12px;
  display: flex;
  min-height: 82px;

  .profile {
    height: 66px;
    width: 50px;
  }

  .books_and_friends {
    display: flex;
  }
}
