.friend_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00635d;
  border-radius: 8px;
  color: #00635d;
  width: fit-content;
  padding: 5px;
  margin-top: 5px;
}
