.friends_header {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;

  .header_title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #382110;
  }

  .make_show_buttons {
    display: flex;
    font-size: 14px;

    .make_show_button {
      cursor: pointer;
      padding: 10px;
      margin: 0 5px;
      padding: 5px 10px;
    }

    .make_show_button:hover {
      border-bottom: 2px solid black;
    }
  }
}
