.infinite_scroll {
  position: relative;
  margin: 20px 0;
  width: 100%;
  .friend_search_result {
    font-size: 12px;
    display: flex;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 5px 0;
    .section_1 {
      display: flex;
      width: 40%;
      .profile {
        height: 66px;
        width: 50px;
        margin: 5px;
      }
      .info {
        .name {
          cursor: pointer;
          font-weight: bold;
        }
        .name:hover {
          text-decoration: underline;
        }
        .stats_row {
          display: flex;
          .book_count {
            margin-right: 3px;
          }
        }
      }
    }
    .section_2 {
      display: flex;
      .cover {
        height: 75px;
        width: 45px;
        margin-right: 5px;
      }
      .info {
        .title {
          cursor: pointer;
          width: 300px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .title:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .fa-spinner {
    text-align: center;
  }
}
