.infinite_scroll {
  position: relative;
  margin: 20px 0;
  width: 100%;
  .friend_search_result {
    display: flex;
    .section_1 {
      display: flex;
      .profile {
        height: 66px;
        width: 50px;
        margin: 5px;
      }
      .info {
        .stats_row {
          display: flex;
          .book_count {
            margin-right: 3px;
          }
        }
      }
    }
  }
  .fa-spinner {
    text-align: center;
  }
}
