.book-img {
    height: 180px;
    width: 115px;
    display: block;
    padding-right: 5px;
    padding-left: 7px;
}

.list-item {
    display: flex
}

.index-ul {
    display: flex;
    padding-top: 10px;
    border-top: 1px solid #D8D8D8;
}

.index-genre-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 5%;
}

.genre-container {
    display:flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.genre-footer {
    align-self: flex-end;
    color: #00635d;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.genre-header {
    color: #382110;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .right {
    min-width:200px; 
    top:50%;
    left:100%;
    margin-left:5px;
    transform:translate(0, -50%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right {
    visibility:visible; opacity:1;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.content-index-genre-container{
    margin-top: 100px;
    display:flex;
    justify-content: center;

}

.side-bar-link{
    color: #00635D;
    text-decoration: none;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.side-bar-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid #D8D8D8;
    padding-top: 10px;  
}

.side-bar-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.side-bar-header {
    color: #382110;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}