.infinite_scroll{
    .page {
        padding: 2px 0px 3px 0px;
        border-bottom: 2px solid #d7d7d7;
        color: #382110;
        background-color: transparent;
        margin: 4px 0px 4px 0px;
        font-weight: normal;
      }
}